@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-11-07 19:26:12
 * @version $Id$
 */
body ,h1,h2,h3,ul,p,figure{
	margin: 0;
	padding: 0;
}

ul {
	list-style: outside none none;
}

a {
	/*不需要下划线*/
	text-decoration: none;
}

.none {
	display: none;
}

/*header*/
#header {
	width: 100%;
	height: 70px;
	background-color: #333;
	min-width: 1280px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);
	position: relative;
	z-index: 999;
}

#header .center {
	width: 1263px;
	height: 70px;
	margin: 0 auto;
}

#header .logo {
	width: 240px;
	height: 70px;
	background-image: url(../img/logo.png);
	text-indent: -9999px;
	float:left;
}

#header .link {
	/*5*120px + 50px*/
	width: 650px;
	/*height 和 line-height相同就垂直居中了*/
	height: 70px;
	line-height: 70px;
	color: #eee;
	float: right;
}

#header .link li {
	width: 120px;
	text-align: center;;
	float: left;
}


#header .link a {
	color: #eee;
	/*增大链接点击区域，a 本身是内联，把他变成区块*/
	display: block;
}

#header .link a:hover,
#header .active a {
	background-color: #000;
}

/*footer*/
#footer {
	height: 360px;
	background-color: #222;
}

#footer .top {
	width: 1263px;
	height: 280px;
	margin: 0 auto;
	/*inline-block时 text-align是有效果的*/
	text-align: center;
}

#footer .block {
	width: 410px;
	height: 280px;
	display: inline-block;
	text-align: left;
	color: #ccc;
	vertical-align: top;
}

#footer h2 {
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0 0 20px;
	text-align:left;
}

#footer hr {
	width: 90%;
	border:1px dashed #333; 
}

#footer ul {
	font-size: 18px
	color:#777;
	/*缩进*/
	text-indent: 20px;
	line-height: 2;
}

#footer .bottom {
	height: 80px;
	background-color: #000;
	line-height: 80px;
	text-align:center;
	color: #777;
	border-top: 1px solid #444;
}